
{% extends "bootstrap_ui/bootstrap-skeleton.html" %}
{% block head-title %} Playground {% endblock %}
{% block body-content %}

<div class="container">
    <h1>Ask Me?</h1>

	{% if latest_question_list %}
	    <ul>
	    {% for question in latest_question_list %}
	        <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p> No polls are available.</p>
	{% endif %}
</div>

<div class="container">
    <p class="small">aws-eb-django-bootstrap-python</p>
</div>

{% endblock %}
